.entete {
  background-color: #ffc702;
  text-align: center;
  height: 300px;
  width: 100%;
}
.incontournables {
  font-size: 40px;
  font-weight: 800;
  padding-top: 20px;
}
.icon {
  height: 170px;
  width: 170px;
}
.contentBurger {
  display: flex;
  justify-content: space-around;
  background-color: #f0bb02;
  padding: 10px;
}
.burger {
  width: 280px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgBurger {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}
h4 {
  font-size: 30px;
  color: white;
  margin-top: 10px;
  margin-bottom: 3px;
}
.burgerPrice {
  font-size: 20px;
  margin-top: 0;
}
.burgerText {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
button {
  display: inline-block;
  background-color: #fcf9ff;
  border-radius: 25px;
  border: white;
  color: #080000;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  &:hover {
    color: rgba(254, 108, 64, 0.9);
    box-shadow: 3px 3px 3px #080000;
  }
}
