footer {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: black;
    bottom: 0;
    padding-bottom: 30px;
}
h3, p {
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-size: 24px ;
    margin-top: 20px;
}
p{
    font-size: 16px;
}

@media screen  and (min-width:767px) {
    footer {
        display:flex;
        justify-content: space-around;
        
    }
    main {
        height: 91vh;
    }
}