header {
    display: flex;
    height: 90px;
    width: 100%;
    align-items: center;
    background-color: rgba(254, 108, 64,0.9);
    justify-content: center;
}
h1 {
    font-family: 'Climate Crisis', cursive;
    font-weight: 100;
    font-size: 26px;
    color: rgb(255, 255, 255);
    margin-left: 14px;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
    0 0 2px black;
}
.logo {
    height: 60px;
    border-radius: 50%;
    border: 2px black;
}

@media screen  and (min-width:767px) {
   h1 {
    font-size: 30px;
   }
   .logo {
    height: 68px;
   }
 
}
@media screen  and (min-width:992px) {
   h1 {
    font-size: 38px;
   }
   .logo {
    height: 75px;
   }
 
}