@import '../utils/mixins';

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  min-height: 75px;
  background-color: black;
  color: white;
}
.navbar_links {
  display: flex;
  @include medium {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    visibility: hidden;
    bottom: 0;
    height: 77vh;
    padding: 2rem;
    background-color: black;
  }
}
.navbar_link {
  padding: 0 0.3rem;
  color: inherit;
  @include medium {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
}
.navbar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
  @include medium {
    display: block;
    padding-right: 5px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
}
a {
  text-decoration: none;
}

.show-nav .navbar_links {
  @include medium {
    width: 100%;
    height: 100%;
    right: 0;
    visibility: visible;
    z-index: 1;
  }
}
.navbar_burger:hover {
  @include medium {
    cursor: pointer;
  }
}
.burger_bar,
.burger_bar::before,
.burger_bar::after {
  @include medium {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    z-index: 2;
    border-radius: 3px;
    background: white;
    transition: all 0.5s ease-in-out;
  }
}
.burger_bar::before,
.burger_bar::after {
  @include medium {
    content: '';
    position: absolute;
    left: 0;
  }
}
.burger_bar::before {
  @include medium {
    transform: translateY(-12px);
  }
}
.burger_bar::after {
  @include medium {
    transform: translateY(12px);
  }
}
.show-nav .burger_bar {
  @include medium {
    width: 0;
    background: transparent;
  }
}

.show-nav .burger_bar::before {
  @include medium {
    transform: rotate(45deg);
  }
}
.show-nav .burger_bar::after {
  @include medium {
    transform: rotate(-45deg);
  }
}
/* trait qui separe le menu */
.navbar_item::after {
  @include medium {
    content: '';
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 1px;
    background: white;
  }
}
.navbar_item:last-child::after {
  @include medium {
    display: none;
  }
}
