@import './components/header';
@import './components/footer';
@import './components/nav';
@import './components/bienvenue';
@import './utils/mixins';

body {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
#root {
    min-height: 680px;
    position: relative;
    padding-bottom: 250px;
}
main {
    font-family: 'Montserrat', sans-serif; 
    @include mediumMin {
        height: 91vh;
    }
}

  