@import './components/header';
@import './components/footer';
@import './components/nav';
@import './components/bienvenue';
@import './utils/mixins';
@import './components/burger';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
#root {
  height: 100%;
  position: relative;
}
main {
  font-family: 'Montserrat', sans-serif;
}
